/* 重設樣式 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* 導航欄樣式 */
  header nav ul {
    list-style-type: none;
    display: flex;
    background-color: #333;
    color: white;
  }
  
  header nav ul li {
    padding: 1rem;
  }
  
  header nav ul li a {
    color: white;
    text-decoration: none;
  }
   h2{
    background-color: yellow;
    padding-left: 50px;
  }
  /* 產品列表樣式 */
  .product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
  }
  
  .product-item {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    text-align: center;
  }
  
  .product-item img {
    max-width: 100%;
    height: auto;
  }
  
  /* 頁尾樣式 */
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
  }