.carousel {
    width: 800px;
    height: 110px;
    overflow: hidden;
    white-space: nowrap; /* 水平不换行 */
  }
  
  .carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .carousel-item {
    flex: 0 0 auto;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    white-space: normal; /* 恢复项目内部文本换行 */
  }
  