html{
  margin:0px;
  padding: 0px;
}
head{
width: 780px;
padding-left: 10px;
padding-right: 10px;

}
body{
width: 800px;
margin: auto;
background: linear-gradient(to bottom, #c5d5fa, #c3dc99);
}
h1{
  font-size: 36px;
  margin-bottom: 0;
  display: flex;
  align-items: center;
height: 110px;
    background-color: aqua;
    text-shadow: 5px 5px 5px black;

    
}
h3{
  font-size: 16px;
}
.material-symbols-outlined{
  color: red;
}

nav{
  font-size: 14px;
  height: 30px;
  display: flex;
  align-items: center;
  padding: 0;
  background-color: lightgrey;

}

#ul-nav ul li {
  

    display:inline;
   
    margin-left: 16px;
    cursor: pointer;

}
a:link, a:visited{
  cursor: pointer;
}
.a-nav{
  text-decoration:none;
}
.Attractions a:link, a:visited{ 
  color: (internal value);
  text-decoration: underline;
  cursor: auto;
}

.Attractions a:link:active, a:visited:active {
  color: (internal value);
}
.Attractions{
  margin: 22px;
}
.content-area{
  display:flex;
  width: 770px;
  margin-left: auto;
  margin-right: auto;
  background: url(../images/color-tile.png)right repeat-y,url(../images/color-tile.png) left repeat-y;
  padding-left: 15px;
  padding-right: 15px;
}
article{
width: 80%;
border-bottom:1px dotted ;
border-top:1px dotted ;
border-right: 1px dotted;

}
.article1{
  clear: both;
  display: table;
}

img{
  float: left;
 
 
  margin-bottom: 16px;
  margin-right: 20px;
  box-shadow: 5px 5px 5px black;
}
iframe{
padding-left: 18px;
border: 5px solid;
}
aside{
  width: 20%;
  border-bottom:1px dotted ;
border-top:1px dotted ;
border-left: 1px dotted;
}
a:hover {
  
font-size: 20px;
        background-color: yellow;
        cursor: pointer;
        color: black;
      }

      footer{
        display: flex;
        align-items: center;
        height: 80px;
        background-color: lightgray;
        
      }