html{
  margin:0px;
  padding: 0px;
}
head{
  
width: 780px;
padding-left: 10px;
padding-right: 10px;
}


body{
width: 800px;
margin: auto;
font-family: Verdana, Geneva, Tahoma, sans-serif;
background: linear-gradient(to bottom, #c5d5fa, #c3dc99);
}
h1{
  position: absolute;
  bottom: 90%;
color: pink;
  font-size: 36px;
  margin: 0;
  display: flex;
  align-items: center;
    text-shadow: 5px 5px 5px black;
  
}
.carousel {
  margin: 0;
  width: 800px;
  height: 110px;
  overflow: hidden;
  white-space: nowrap; /* 水平不换行 */
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-item {
  flex: 0 0 auto;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  white-space: normal; /* 恢复项目内部文本换行 */
}
h3{
  font-size: 16px;
}
.material-symbols-outlined{
  color: red;
}

nav{
  font-size: 14px;
  height: 30px;
  display: flex;
  align-items: center;
  padding: 0;
  background-color: lightgrey;

}

#ul-nav ul li {

    display:inline;
   
    margin-left: 16px;
    cursor: pointer;

}
a:link, a:visited{
  cursor: pointer;
}
.a-nav{
  text-decoration:none;
}
.Attractions a:link, a:visited{ 
  color: (internal value);
  text-decoration: underline;
  cursor: auto;
}

#map::before{
  content: url(../image/map01.png);
  margin-left: 1px;
  vertical-align: middle;
 }
.content-area{
  display:flex;
  width: 770px;
  margin-left: auto;
  margin-right: auto;
  background: url(../images/color-tile.png)right repeat-y,url(../images/color-tile.png) left repeat-y;
  padding-left: 15px;
  padding-right: 15px;
}
article{
width: 80%;
border-bottom:1px dotted ;
border-top:1px dotted ;
border-right: 1px dotted;

}
.article1{
  clear: both;
  display: table;
}

img{
  float: left;
 
 
  margin-bottom: 16px;
  margin-right: 20px;
  box-shadow: 5px 5px 5px black;
}
iframe{
padding-left: 18px;
border: 5px solid;

}
aside{
  width: 20%;
  border-bottom:1px dotted ;
border-top:1px dotted ;
border-left: 1px dotted;
}
a:hover {
  
font-size: 20px;
        background-color: yellow;
        cursor: pointer;
        color: black;
      }

      footer{
        display: flex;
        align-items: center;
        height: 80px;
        background-color: lightgray;
        
      }