.slider {
    width: 1000px;
    height: 667px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

.slide {
    width: 680px;
    height: 300px;
    position: absolute;
    display: none;
    background-size: cover;
    background-position: center;
}

.slide:first-child {
    display: block;
}

h1 {
    text-shadow: 5px 5px 5px black;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    padding: 8px 16px;
}

#prev {
    left: 10px;
}

#next {
    right: 10px;
}